h1 {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif; }

body {
  font-family: "Nobile", Helvetica, Arial, sans-serif; }

p, li {
  font-family: "Nobile", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.7em; }

code {
  font-size: 1em;
  color: #1b1b1b; }

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1050px;
  padding-top: 60px;
  padding-bottom: 40px; }

.subdued {
  color: #555555; }

.btn-primary {
  text-shadow: 0px -1px 0px #e13517;
  color: white;
  background-color: #ff5335;
  background-image: -moz-linear-gradient(top, #ff7153, #e13517);
  background-image: -ms-linear-gradient(top, #ff7153, #e13517);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff7153), to(#e13517));
  background-image: -webkit-linear-gradient(top, #ff7153, #e13517);
  background-image: -o-linear-gradient(top, #ff7153, #e13517);
  background-image: linear-gradient(top, #ff7153, #e13517);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7153', endColorstr='#e13517', GradientType=0);
  border-color: #ff5335 #e13517 #e13517 #ff5335;
  border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #e13517; }

.btn-primary:hover {
  color: #fffffd;
  text-shadow: 0px -1px 0px #c31700; }

.btn-primary:focus {
  color: #ffb799;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  border-color: #ff5335 #e13517 #e13517 #ff5335;
  border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }

.btn-primary.active, .btn-primary:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #ffb799; }

.navbar .brand {
  font-size: 18px; }
.navbar a.active.brand {
  color: white; }
.navbar .navbar-inner {
  background-color: #222222; }
.navbar .nav > li {
  font-size: 14px;
  line-height: 20px; }
.navbar .search-query {
  width: 120px; }

.hero-unit {
  background: none; }
  .hero-unit .tagline {
    padding-bottom: 10px; }
  .hero-unit .giant {
    float: left;
    padding-right: 30px; }

footer {
  font-size: 0.7em; }

.left {
  float: left;
  padding-right: 2em; }

.right {
  float: right;
  padding-right: 2em; }

.horiz-columns {
  padding-bottom: 1em; }

.more-info {
  font-size: 1.2em;
  line-height: 1.6em;
  border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  webkit-border-radius: 0.2em;
  padding: 15px;
  list-style-type: none;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  margin: 15px;
  position: relative;
  padding-left: 2.8em; }
  .more-info:before {
    position: absolute;
    font-family: FontAwesome;
    top: 0.5em;
    left: 0.5em;
    content: "\F05A";
    font-size: 1.6em;
    color: #b9b9bf; }

.dropdown-backdrop {
  display: none; }

ul.debug {
  list-style: none;
  min-height: 20px;
  padding: 0.5em;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }
  ul.debug li {
    display: inline-block;
    min-width: 5em;
    padding-right: 2em; }
    ul.debug li .placeholder {
      color: #8a8a8a; }
    ul.debug li .draft {
      color: #ff4756; }
    ul.debug li .alpha {
      color: #ff7e47; }
    ul.debug li .beta {
      color: #ff7e47; }
    ul.debug li .final {
      color: #3ec821; }

.splash {
  min-height: 20px;
  padding: 0.5em;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }

.homepage .splash {
  display: none; }
