---
---

h1
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif

body
  font-family: 'Nobile', Helvetica, Arial, sans-serif

p,li
  font-family: 'Nobile', Helvetica, Arial, sans-serif
  font-size: 1.2em
  line-height: 1.7em

li li, li li, li li li, ul p
  font-size: 1em

code
  font-size: 1.0em
  color: #1b1b1b

.navbar
  .search
    padding-right: 1em

  #socrata-status
    padding-top: 8px
    .popover
      width: 300px

.sidebar-nav
  li > a
    padding: 0

  .nav-header
    padding:
      left: 0
      top: 0.5em
    font-size: 1.2em

.content
  margin:
    left: auto
    right: auto
  max-width: 1050px
  padding-top: 60px
  padding-bottom: 40px

.subdued
  color: #555555

.jumbotron
  background: none

  .tagline
    padding-bottom: 10px

  .giant
    float: left
    padding-right: 30px

footer
  margin:
    left: auto
    right: auto
  max-width: 1050px
  font-size: 0.7em

.left
  float: left
  padding-right: 2em

.right
  float: right
  padding-right: 2em

.horiz-columns
  padding-bottom: 1em

.well
  overflow: hidden

ul.well
  padding-left: 2.8em

.dropdown-header
  font-size: 14px
  padding: 10px 20px 0

.dropdown-header:first-child
  padding-top: 0

.dropdown-menu
  padding: 15px 0

.dropdown-menu > li > a
  line-height: 1.2em

// Fix for https://github.com/twbs/bootstrap/issues/7968
.dropdown-backdrop 
  display: none

.splash
  min-height: 20px
  padding: 0.5em
  margin-bottom: 20px
  background-color: #f5f5f5
  border: 1px solid #e3e3e3
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)

.homepage .splash
  display: none

#zenbox_tab
  -webkit-box-sizing: content-box
  -moz-box-sizing: content-box
  box-sizing: content-box

.clipboard
  position: relative
  width: 100%
  padding-right: 45px
  .clipbutton
    position: absolute
    top: 0
    right: 0
    z-index: 10
    display: block
    padding: 5px 8px
    font-size: 12px
    color: #777
    cursor: pointer
    background-color: #f5f5f5
    border: 1px solid #ccc
    border-radius: 0 4px 0 4px

// Tryit links
.tryit-link
  position: relative
  margin-bottom: 20px
  // padding: 0.8em
  border-radius: 4px
  border: 1px solid #E2DBDF
  color: #c7254e
  background-color: #f9f2f4
  i.fa
    margin-top: 0.3em
  code
    position: relative
    top: 50%
    transform: translateY(-50%)
    background-color: transparent
  .other
    float: right
    background-color: inherit
    a
      padding-left: 0.2em
  .toolbar
    width: 100%
    border-bottom: 1px solid #E2DBDF
    height: 22px
    .tools
      position: relative
      top: 0
      right: 0
      .btn
        border-bottom: none
        border-radius: 0
      .btn-default
        background-color: #f9f2f4
        border-top: none
      .btn-last
        border-right: none
      .dropdown-menu.formats
        padding: 0
        background-color: #f9f2f4
        font-size: 12px
        min-width: 0
        overflow-y: auto
        z-index: 9999
  .the-link
    padding: 1.0em
    padding-top: 1.2em
    a.exec
      color: #1b1b1b

  .verb
    font-weight: bold
    color: #008080

  .results
    position: relative
    height: 400px
    overflow-x: hidden
    overflow-y: scroll
    width: 100%
    margin:
      left: auto
      right: auto
    padding:
      top: 10px
      left: 10px
      right: 10px
      bottom: 10px

    code
      background-color: transparent

    .request, .response
      border: none

    .request
      padding:
        top: 3px
        left: 3px

    .remove
      position: absolute
      top: 0
      right: 0
      text-decoration: none
      color: #000
      font-size: 0.9em
      padding: 10px

  pre
    background-color: transparent   /* Overrides bootstrap for try-it code response */

