openapi-explorer {
  --nav-bg-color: #f5f5f5;
  --nav-text-color: #333;
  --nav-hover-bg-color: #eee;
  --nav-hover-text-color: #333;
  --secondary-color: #333;
}

openapi-explorer::part(section-operation) {
  --primary-color: #f9f2f4;
}

openapi-explorer::part(section-operation) {
  color: black;
}
